nav.main-navi {
    border-bottom: 3px solid var(--color-purple-5);

    img {
        height: 100px;
    }
}

.sub-navi {
    min-width: 300px;
    min-height: 900px;
    transition: .3s;
    border-right: 3px solid var(--color-purple-5);
}

@media (max-width: 768px) {
    nav.main-navi img {
        height: unset;
    }
}