.main-nav-holder {
    border-bottom: 3px solid var(--color-purple-5);
}

.sub-nav {
    min-width: 300px;
    transition: .3s;
}

#back-to-top {
    background-color: var(--color-purple-5);
    border: 2px solid black;

    svg {
        stroke: var(--color-purple-1);
    }
}

.language-switcher-mobile {
    button {
        max-width: 48px;
    }

    img {
        width: 40px;
        height: 22px;
    }
}

@media (max-width: 767.98px) {
    .sub-nav {
        padding-bottom: 3rem;
        border-bottom: 3px solid var(--color-purple-5);
    }
}

@media (min-width: 768px) {
    .sub-nav {
        min-height: 900px;
        padding-bottom: 0;
        border-right: 3px solid var(--color-purple-5);
    }

    nav.main-nav {
        img {
            height: 100px;
        }
    }
}