nav,
h1,
h2,
h3 {
    padding-bottom: 1.5rem;
}

.link-holder {
    padding-top: 1.5rem;
}

.page,
.sub-navi,
.idea,
.partner,
.peace,
.dev > div {
    padding-top: 3rem;
}

main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page,
.partner,
.peace {
    padding-bottom: 3rem;
}

@media (min-width: 1200px) {
    .idea {
        padding-left: 3rem;
    }

    .page {
        padding-left: 3rem;
    }
}