nav {
    ul li {
        font-weight: bold;
        font-size: 18px;

        a {
            color: theme("colors.golden-tan");
            text-shadow: 1px 1px 1px black;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    text-wrap: pretty;
}

p, li {
    max-width: 65ch;
    color: theme("colors.deeper-brown");
    font-size: 20px;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(32px, 3vw, 60px) !important;
    color: theme("colors.golden-tan");
    text-shadow: 1px 1px 1px black;
    text-underline-offset: 10px;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(28px, 3vw, 50px) !important;
    color: theme("colors.golden-tan");
    text-shadow: 1px 1px 1px black;
    text-underline-offset: 10px;
}