.portrait {
    img {
        animation: breathing 9s ease-in-out infinite;
        transition: transform 0.3s ease-in-out;
    }
}

@keyframes breathing {
    0% {
        transform: scale(0.95);
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    }

    50% {
        transform: scale(1.05);
        /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    }

    100% {
        transform: scale(0.95);
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    }
}